
.btn {
  display: left-inline-block;
  width: 150px;
  border: solid 3px;
  border-radius: 10px;
  background-color: #C4EBFF;
  padding: 10px 20px;
  margin: 2;
  
  text-decoration: none;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}
